nav(class="navbar navbar-expand-lg bg-body-tertiary")
  .container-fluid
    a.navbar-brand(href='/')
        img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeKfcnbyLTnDY4EFX8ToGEsGL-CZ3MyOx8sA&s' alt='musicApp' width='30' height='24')
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='/') Trang chủ
        li.nav-item
          a.nav-link(href='/topics') Chủ đề
        if(user)
          li.nav-item
            a.nav-link(href='#') #{user.fullName}
          li.nav-item
            a.nav-link(href='/users/logout') Đăng xuất
        else
          li.nav-item
            a.nav-link(href='/users/login') Đăng nhập
          li.nav-item
            a.nav-link(href='/users/register') Đăng ký
